<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>

  <%= f.input :description, placeholder: "Quantity of" %>
  <%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Select an ingredient" %>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<p>
  <%= link_to "Back", cocktail_path(@cocktail), class: "btn btn-info" %>
</p>
